{% block content %}

<html>
    <style>
        .about-text{
          margin-left: 6vw;
          margin-right: 6vw;
        }

        @media (min-width:600px) {
          .about-text{
            margin-left: 10vw;
            margin-right: 10vw;
          }
        }
        /* reference: https://css-tricks.com/books/fundamental-css-tactics/scale-typography-screen-size/ */
        @media (min-width:1000px) {
          .about-text{
            margin-left: 18vw;
            margin-right: 18vw;
          }
        }

      </style>
    <body>

        {% include 'argupedia\nav.html' %}
        <div class = "about-text">
            <div class="container-fluid d-flex p-2 title-text">
                <h4>About us</h4>
            </div>
            <div class="container-fluid d-flex p-2">
              Welcome to Argupedia! We are an online debate forum that embraces open-mindedness. <br>
              We use Argumentation Frameworks in order to bring some structure to online discourse. 
              <br> <br>
              A user creates an argument e.g. "This website is the best". <br>
              If someone else disagrees then that user asks a "critical question" which attacks the original argument! <br>
              Now the first argument is "out" and the second argument / critical question is "in".<br>
              Someone else can defend the original argument by attacking the second argument / critical question which would change the labellings again.
              <br> <br>
              A user can also submit an "alternate" argument. <br>
              For instance if a user submits the argument "We need world peace and argupedia is the best way to achieve it!"<br>
              Then another user could post an alternate argument "We need world peace and love is the best way to achieve it!"<br>
              These two arguments have the same goals but different methods to achieve them. Thus they are both undecided until users vote on which one should be "in" / winning.
              <br> <br>
              There are also self-attacking arguments. <br>
              These are always considered "out". An example would be "Save money by spending it" or "If I know one thing, it's that I know anything".
            </div>
    
            <br>
        </div>
        

    </body>
</html>

{%  endblock %}