

<div class= "container-fluid">
    {% for key, value in arguments.items %}
    <div class= "d-flex justify-content-center">
        <div class="card mb-3" style="width: 18rem;">
            {% if value.image != "" or not None %}
                <img src={{value.image}} class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{value.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{value.topic }}</h6>
              <p class="card-text">{{value.content}}</p>
              {% if value.fileReference != "" %}
                <a href={{value.fileReference}} class="card-link">File Reference</a>
              {% endif %}
              {% if value.urlReference != "" %}
                <a href={{value.urlReference}} class="card-link">URL Reference</a>
              {% endif %}
              <div class="dropdown-divider"></div>
              originalKey: {{originalKey}}
              key: {{key}}
              <!-- <a href="{% url 'critical_questions_page' %}" style="color:black;" class="card-link">Add a Critical Question</a> -->
              {% if schema == True %}
              <!-- schema has been viewed, now user chooses which argument to attack -->
              <form action="{% url 'critical_questions_page' %}" method="post">
                {% csrf_token %}
                <input name="originalKey" type="hidden" value="{{originalKey}}"></input>
                <input name="key" type="hidden" value="{{key}}"></input>
                <input name="topic" type="hidden" value="{{value.topic}}"></input>
                <input type="submit" value="Add a Critical Question"></input>
              </form>
              {% else %}
               <!-- schema has not been viewed  -->
               <form action="{% url 'view_argument_schema_page' %}" method="post">
                {% csrf_token %}
                <input name="originalKey" type="hidden" value="{{Key}}"></input>
                <input name="key" type="hidden" value="{{key}}"></input>
                <input name="topic" type="hidden" value="{{value.topic}}"></input>
                <input type="submit" value="View Schema"></input>
              </form>
              {% endif %}

            </div>
          </div>
    </div>
    <br>
    {% endfor %}
</div>