

<div class= "container-fluid">
    {% for key, value in arguments.items %}
    <div class= "d-flex justify-content-center">
        <div class="card mb-3" style="width: 18rem;">
            {% if value.image != "" or not None %}
                <img src={{value.image}} class="card-img-top" alt="...">
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{value.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{value.topic }}</h6>
              <p class="card-text">{{value.content}}</p>
              {% if value.fileReference != "" %}
                <a href={{value.fileReference}} class="card-link">File Reference</a>
              {% endif %}
              {% if value.urlReference != "" %}
                <a href={{value.urlReference}} class="card-link">URL Reference</a>
              {% endif %}
            </div>
          </div>
    </div>
    <br>
    {% endfor %}
</div>