{% block content %}

<html>
    <body>
        {% include 'argupedia\nav.html' %}

        {% if uid is None %}

        <div class= "container-fluid d-flex justify-content-center">

            Sorry, There was an error. Please try again.

        </div>
        
        <div class= "container-fluid d-flex justify-content-center">
            <a class="button" href="{% url 'search_argument_page' %}">Back</a>
        </div>
        {% else %}

          <div class="container-fluid justify-content-center">
            <div class="header">
              <h2>Create Your Argument</h2>
            </div>
            <br>
            <form action = "{% url 'add_argument' %}" method= "post">
              {% csrf_token %}
              <div class="form-group row">
                <label for="Category" class="col-sm-2 col-form-label">Change Topic Header</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="topic" placeholder="Subject Domain">
                </div>
              </div>
              <div class="form-group row">
                <label for="inputsm" class="col-sm-2 col-form-label">Argument Summary / Title</label>
                <div class="col-sm-10">
                  <input class="form-control input-sm" name="title" type="text" placeholder="e.g. X is immoral because of Y">
                </div>
              </div>
              <div class="form-group row">
                <label for="selfAttack" class = "col-sm-2"> Argument attacks itself</label><br>
                <input type="checkbox" id="selfAttack" class = "col-sm-2" name="selfAttack" value="Bike">
              </div>
              <br>
              <div class="form-group row">
                <div class = "col">
                  Now you can start to write up your argument in the format of the argument type you have already chosen.
                </div>
              </div>
              {% for inputEntry in format %}
                <div class="form-group row green-border-focus">
                  <label for="exampleFormControlTextarea5" class="col-sm-2 col-form-label">{{inputEntry}}</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" name="content-{{forloop.counter}}" id="exampleFormControlTextarea5" rows="3" placeholder="{{inputEntry}}"></textarea>
                  </div>
                </div>
              {% endfor %}
              <br>
              <div class="form-group row">
                <label for="url" class="col-sm-2 col-form-label">URL References</label>
                <div class="col-sm-10">
                  <input type="url" class="form-control input-sm" name="urlReference" id="url" placeholder="https://example.com" pattern="https://.*" size="30" multiple>
                </div>
              </div>
              <div class="form-group row">
                <label for="files" class="col-sm-2 col-form-label">Upload Evidence</label>
                <div class="col-sm-10">
                  <input type="file" id="files" name="fileReference" multiple><br><br>
                </div>
              </div>
              <div class="form-group row">
                <label for="url" class="col-sm-2 col-form-label">Cover Photo</label>
                <div class="col-sm-10">
                  <input type="url" class="form-control input-sm" name="image" id="url" placeholder="https://example.com" pattern="https://.*" size="30" multiple>
                </div>
                <div class="container-fluid">
                  Including an image here is not necessary but is recommended to increase traction to your argument
                </div>
              </div>
              <!-- <div class="form-group row">
                Including an image here is not necessary but is recommended to increase traction to your argument
                <label for="files" class="col-sm-2 col-form-label">Cover Photo</label>
                <div class="col-sm-10">
                  <input type="file" id="image" name="image" multiple><br><br>
                </div>
              </div> -->
              <div class="form-group row">
                <div class="container-fluid d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary">Submit</button> <br>
                </div>
                <div class="container-fluid d-flex justify-content-center">
                  You will be able to edit your submission for the next 24 hours. After this period, you can no longer submit edits. Alterations must be submitted as reponses to criticisms.
                </div>
              </div>
            </form>
          </div>

        {%endif%}

    </body>




</html>


{%  endblock %}


