{% block content %}

<html>
    <body>
        {% include 'argupedia\nav.html' %}

        {% if topic is None or uid is None %}

        <div class= "container-fluid d-flex justify-content-center">

            Sorry, There was an error. Please try again.

        </div>
        
        <div class= "container-fluid d-flex justify-content-center">
            <a class="button" href="{% url 'search_argument_page' %}">Back</a>
        </div>
        {% else %}

        <!-- <div class= "container-fluid d-flex justify-content-center">
            Welcome {{topic}}
            <br>
            Would you like to submit a response (attack or defense) of an existing argument?
            Check if the topic you're interested in exists already:
        </div> -->
          <div class="container-fluid justify-content-center">
            <div class="header">
              <h2>{{topic}}</h2>
            </div>
            <br>
            <form action = "{% url 'add_argument' %}" method= "post">
              {% csrf_token %}
              <div class="form-group row">
                <label for="Category" class="col-sm-2 col-form-label">Change Topic Header</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" name="topic" placeholder={{topic}}>
                </div>
              </div>
              <div class="form-group row">
                <label for="inputsm" class="col-sm-2 col-form-label">Argument Summary / Title</label>
                <div class="col-sm-10">
                  <input class="form-control input-sm" name="title" type="text" placeholder="e.g. X is immoral because of Y">
                </div>
              </div>
              <div class="form-group row green-border-focus">
                <label for="exampleFormControlTextarea5" class="col-sm-2 col-form-label">Write Up Your Argument and Evidence Here</label>
                <div class="col-sm-10">
                  <textarea class="form-control" name="content" id="exampleFormControlTextarea5" rows="3" placeholder="Evidence shows that X can no longer be considered moral..."></textarea>
                </div>
              </div>
              <div class="form-group row">
                <label for="url" class="col-sm-2 col-form-label">URL References</label>
                <div class="col-sm-10">
                  <input type="url" class="form-control input-sm" name="urlReference" id="url" placeholder="https://example.com" pattern="https://.*" size="30" multiple>
                </div>
              </div>
              <div class="form-group row">
                <label for="files" class="col-sm-2 col-form-label">Upload Evidence</label>
                <div class="col-sm-10">
                  <input type="file" id="files" name="fileReference" multiple><br><br>
                </div>
              </div>
              <div class="form-group row">
                Including an image here is not necessary but is recommended to increase traction to your argument
                <label for="url" class="col-sm-2 col-form-label">Cover Photo</label>
                <div class="col-sm-10">
                  <input type="url" class="form-control input-sm" name="image" id="url" placeholder="https://example.com" pattern="https://.*" size="30" multiple>
                </div>
              </div>
              <!-- <div class="form-group row">
                Including an image here is not necessary but is recommended to increase traction to your argument
                <label for="files" class="col-sm-2 col-form-label">Cover Photo</label>
                <div class="col-sm-10">
                  <input type="file" id="image" name="image" multiple><br><br>
                </div>
              </div> -->
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-2 pt-0">Radios</legend>
                  <div class="col-sm-10">
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                      <label class="form-check-label" for="gridRadios1">
                        First radio
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                      <label class="form-check-label" for="gridRadios2">
                        Second radio
                      </label>
                    </div>
                    <div class="form-check disabled">
                      <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3" disabled>
                      <label class="form-check-label" for="gridRadios3">
                        Third disabled radio
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <div class="form-group row">
                <div class="col-sm-2">Checkbox</div>
                <div class="col-sm-10">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck1">
                    <label class="form-check-label" for="gridCheck1">
                      Example checkbox
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="container-fluid d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary">Submit</button> <br>
                </div>
                <div class="container-fluid d-flex justify-content-center">
                  You will be able to edit your submission for the next 24 hours. After this period, you can no longer submit edits. Alterations must be submitted as reponses to criticisms.
                </div>
              </div>
            </form>
          </div>

        {%endif%}

    </body>




</html>


{%  endblock %}


