{% block content %}

<html>
  <style>
    .text-format{
      margin-left: 2vw
    }
  </style>
    <body>
        {% include 'argupedia\nav.html' %}

         <!-- if uid is None 

        <div class= "container-fluid d-flex justify-content-center">

            Sorry, Please log in to submit a critical Question

        </div>
        
        <div class= "container-fluid d-flex justify-content-center">
            <a class="button" href="{% url 'login_page' %}">Log in</a>
        </div>
         else  -->
        <!-- originalKey: {{originalKey}} -->
        <!-- topic: {{topic}}
        key: {{key}}
        
        uid: {{uid}} -->
        <div class="container-fluid justify-content-center">
          <div class="header">
            <h2>{{topic}}</h2>
          </div>
          <br>
          <form action = "{% url 'add_attack' %}" method= "post">
            {% csrf_token %}
            <input name="originalKey" type="hidden" value="{{originalKey}}"></input>
            <div class="form-group row">
              <label for="inputsm" class="col-sm-2 col-form-label">Argument Summary / Title</label>
              <div class="col-sm-10">
                <input class="form-control input-sm" name="title" type="text" placeholder="e.g. X is immoral because of Y" required>
              </div>
            </div>
            <div class="form-group row">
              <label for="selfAttack" class = "col-sm-2"> Argument attacks itself</label><br>
              <input type="checkbox" id="selfAttack" class = "col-sm-2" name="selfAttack" value="Bike">
            </div>
            <div class="form-group row text-format">
              <div class = "col">
                An alternate argument not only attacks the original argument but is also attacked by it.
              </div>
            </div>
            <div class="form-group row">
              <label for="alternate" class = "col-sm-2"> Alternate Argument</label><br>
              <input type="checkbox" id="alternate" class = "col-sm-2" name="alternate">
            </div>
            <!-- Drop down form to choose which argument you would like to attack -->
            
            <input name="attackingKey" type="hidden" value="{{key}}"></input>
            <div class="row">
              <div class = "col">
                Please select the form of your critical question. This should form the basis of your argument.
              </div>
            </div>
            <fieldset class="form-group row">
              <label for="criticalQuestion2" class="col-sm-2 col-form-label">Types</label>
              {% for question in criticalQuestions %}
                <div class="col-sm-10 offset-sm-2">
                  <input type="radio" name="criticalQuestion" id="criticalQuestion2" value={{loop.index}}>
                  <label class="form-check-label" id="criticalQuestion2" for="gridRadios1">
                    {{ question }}
                  </label>
                </div>
              {% endfor %}
            </fieldset>
            <br>
            <div class="form-group row">
              <div class = "col">
                Now you can start to write up your argument in the format of the argument type you have already chosen.
              </div>
            </div>
            {% for inputEntry in format %}
              <div class="form-group row green-border-focus">
                <label for="exampleFormControlTextarea5" class="col-sm-2 col-form-label">{{inputEntry}}</label>
                <div class="col-sm-10">
                  <textarea class="form-control" name="content-{{forloop.counter}}" id="exampleFormControlTextarea5" rows="3" placeholder="{{inputEntry}}" required></textarea>
                </div>
              </div>
            {% endfor %}
            <br>
            <div class="form-group row">
              <label for="url" class="col-sm-2 col-form-label">URL References</label>
              <div class="col-sm-10">
                <input type="url" class="form-control input-sm" name="urlReference" id="url" placeholder="https://example.com" pattern="https://.*" size="30" multiple>
              </div>
            </div>
            <div class="form-group row">
              <label for="files" class="col-sm-2 col-form-label">Upload Evidence</label>
              <div class="col-sm-10">
                <input type="file" id="files" name="fileReference" multiple><br><br>
              </div>
            </div>
            <div class="form-group row">
              <label for="url" class="col-sm-2 col-form-label">Cover Photo</label>
              <div class="col-sm-10">
                <input type="url" class="form-control input-sm" name="image" id="url" placeholder="https://example.com" pattern="https://.*" size="30" multiple>
              </div>
              <div class="container-fluid">
                Including an image here is not necessary but is recommended to increase traction to your argument
              </div>
            </div>
            <!-- <div class="form-group row">
              Including an image here is not necessary but is recommended to increase traction to your argument
              <label for="files" class="col-sm-2 col-form-label">Cover Photo</label>
              <div class="col-sm-10">
                <input type="file" id="image" name="image" multiple><br><br>
              </div>
            </div> -->
            <div class="form-group row">
              <div class="container-fluid d-flex justify-content-center">
                <input name="argumentType" type="hidden" value="{{argumentType}}"></input>
                <button type="submit" class="btn btn-primary">Submit</button> <br>
              </div>
              <div class="container-fluid d-flex justify-content-center">
                You will be able to edit your submission for the next 24 hours. After this period, you can no longer submit edits. Alterations must be submitted as reponses to criticisms.
              </div>
            </div>
          </form>
        </div>
            

          

        <!-- endif -->

    </body>




</html>


{%  endblock %}