
      <!-- Modal -->
      {% load django_popup_view_field_tags %}

      {% block content %}

      <html>
        <style>
          .argument-info{
            margin-left: 6vw;
            margin-right: 6vw;
          }

          @media (min-width:600px) {
            .argument-info{
              margin-left: 10vw;
              margin-right: 10vw;
            }
          }
          /* reference: https://css-tricks.com/books/fundamental-css-tactics/scale-typography-screen-size/ */
          @media (min-width:1000px) {
            .argument-info{
              margin-left: 18vw;
              margin-right: 18vw;
            }
          }

          .navButton{
            border-color: #B4DCED;
            color: #B4DCED;
          }

          .navButton:hover {
            background-color: #B4DCED;
            color: #3399CC;
          }

        </style>
          <body>
              {% include 'argupedia\nav.html' %}
              <div class = "argument-info">
                <div align="right"> <i> Argument is {{value.labellings}} </i> </div>
                {% if value.labellings == "undecided" and value.selfAttack == False %}
                <div align="right"> <i> Current Votes = {{value.votes}} </i> </div>
                {% endif %}
                <div class="container-fluid d-flex p-2 dark-colour">
                    <h4>{{value.title }}</h4>
                </div>
                <div class="container-fluid d-flex p-2">
                  <p class="card-text">
                      {{ value.content}}
                      <br>
                  </p>
                </div>
                  <br>
                  {% if value.fileReference != "" or value.urlReference != "" %}
                    <div class = "container-fluid d-flex p-2">
                      <br>
                        <h6>References:</h6>
                    </div>
                    <div class="container-fluid d-flex p-2">
                        {% if value.fileReference != "" %}
                          <i class="glyphicon glyphicon-link"></i>
                          <span class="glyphicon glyphicon-link"></span>
                          <a href="{{value.fileReference}}" class="tooltip-test" title="fileRef">File Reference</a>
                        {% endif %}
                        {% if value.urlReference != "" %}
                          <i class="glyphicon glyphicon-paperclip"></i>
                          <span class="glyphicon glyphicon-link"></span>
                          <a href="{{value.urlReference}}" class="tooltip-test" title="URLRef">Link Reference</a>
                        {% endif %}
                    </div>
                  {% endif %}
                  <!-- {% if uid is not None %}
                  <form action="{% url 'critical_questions_page' %}" method="post">
                    {% csrf_token %}
                    <input name="originalKey" type="hidden" value="{{value.originalKey}}"></input>
                    <input name="key" type="hidden" value="{{value.argumentKey}}"></input>
                    <input name="topic" type="hidden" value="{{value.topic}}"></input>
                    <select id="argumentType" name="argumentType">
                      {% for type, description in types.items %}
                      <option value="{{type}}">
                          {{description}}
                      </option>
                      {% endfor %}
                    </select>
                    <input type="submit" class="btn btn-light" value="Add a Critical Question"></input>
                  </form>
                  {%endif%} -->
                  <br>

                  <br>

                  <br>

                  <br>
                
                  {% if value.labellings == "undecided" %}
                  <div class="container-fluid d-flex p-2">
                    <p class="card-text italic">

                      This argument is undecided. <br>
                      If it receives enough votes then it will be considered "winning" over the argument that attacks it. <br>
                      Alternatively, you could vote for the other undecided argument.<br>
    
                      {% if uid is None %}

                      <br>
                      You need to log in to vote.

                      {%else%}
                      <br>
                    </p>
                  </div>

                  <div class="container-fluid d-flex p-2">
                    <form action = "{% url 'vote_argument' %}"  class="form-inline my-2 my-lg-0" method= "post">
                      {% csrf_token %}
                      <input name="originalKey" type="hidden" value="{{value.originalKey}}"></input>
                      <input name="argumentKey" type="hidden" value="{{value.argumentKey}}"></input>
                      <button type="sumbit" class="btn template-btn mr-sm-2" data-dismiss="modal">Vote For This Argument</button>
                    </form>

                  </div>

                  {% endif %}
                  {% endif %}

        
    
        
                <br>

              </div>
            
              
      
          </body>
      </html>
      
      {%  endblock %}
    